<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Edit User'}) %>
    <link rel="stylesheet" href="/styles/edit-user.css">
</head>

<body>
    
    <section class="hero">
        <h2>Edit User</h2>        
    </section>

    <form class="data-form" method="POST" action="/users/<%= user._id %>/update?_method=PUT">
        <!-- Name input -->
        <div class="form-entry">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= user.name %>" required>
        </div>
        <!-- Alias input -->
        <div class="form-entry">
            <label for="alias">Alias:</label>
            <input type="text" id="alias" name="alias" value="<%= user.alias %>">
        </div>
        <!-- Hometown input -->
        <div class="form-entry">
            <label for="hometown">Hometown:</label>
            <input type="text" id="hometown" name="hometown" value="<%= user.hometown %>">
        </div>
        <!-- Email input -->
        <div class="form-entry">
            <label for="email">Rating:</label>
            <input type="text" id="email" name="email" value="<%= user.email %>">
        </div>
        <input class="update-button" type="submit" value="Update User">
    </form>

</body>
</html>