<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {title: 'Users'}) %>
    <link rel="stylesheet" href="/styles/user-index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <section class="hero">
        <h2>List of Users</h2>
    </section>

    <main>
        <section class="listings">
            <ul>
                <% for (let user of users) { %>
                <li class="user-index-item">        
                    <div>
                    <a href="/users/<%= user._id %>"><h4><%= user.name %></h4></a>
                    </div>
                    <div>
                        <a class="button" href="/users/<%= user._id %>/edit">Edit</a>
                        <button class="user-action-buttons">Delete</button>
                    </div>
                </li>
                <% } %>
            </ul>
        </section>
    </main>


</body>

</html>