<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'ToDo Manager'}) %>
    <link rel="stylesheet" href="/styles/user-details.css">
</head>

<body>
    
    <div class="user-details">        
        <section class="user-section-details"> 
            <div>           
                <h2 class="user-name"><%= user.name %></h2>
                <p><strong>Alias:</strong> <%= user.alias %></p>
                <p><strong>Hometown:</strong> <%= user.hometown %></p>
                <p><strong>Email:</strong> <%= user.email %></p>                
            </div>                   
        </section>
    </div>

</body>

</html>