<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Edit Todo'}) %>
    <link rel="stylesheet" href="/styles/edit-todo.css">
</head>

<body class="radial-blue">
    
    <%- include('../partials/nav.ejs') %>

    <section class="hero">
        <h2>Edit Todo</h2>        
    </section>

    <form class="data-form" method="POST" action="/todos/<%= todo._id %>/update?_method=PUT">
        <!-- Item input -->
        <div class="form-entry">
            <label for="item">Item:</label>
            <input type="text" id="item" name="item" value="<%= todo.item %>" required>
        </div>
        <!-- Description input -->
        <div class="form-entry">
            <label for="description">Description:</label>
            <input type="text" rows="4" id="description" name="description" value="<%= todo.description %>"></textarea>
        </div>
        <!-- DueDate input -->
        <div class="form-entry">
            <label for="dueDate">Due Date:</label>
            <input type="text" id="dueDate" name="dueDate" value="<%= todo.dueDate %>">
        </div>
        <!-- Priority input -->
        <div class="form-entry">
            <label for="priority">Priority:</label>
            <select name="priority" id="priority" value="<%= todo.priority %>"> 
                <option value="High">High</option> 
                <option value="Normal" selected>Normal</option> 
                <option value="Low">Low</option>
            </select> 
        </div>
        <!-- Status input -->  
        <div class="form-entry">     
            <label for="status">Status:</label>
            <select name="status" id="status" value="<%= todo.status %>"> 
                <option value="Not Started" selected>Not Started</option> 
                <option value="In progress">In progress</option> 
                <option value="Done">Done</option>
            </select> 
        </div>
        <input class="update-button" type="submit" value="Update ToDo">
    </form>

</body>

</html>