<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Edit Todo'}) %>
    <link rel="stylesheet" href="/styles/edit-todo.css">
</head>

<body class="radial-blue">
    
    <%- include('../partials/nav.ejs') %>

    <section class="hero">
        <h2>Edit Todo</h2>        
    </section>

    <form class="data-form" method="POST" action="/todos/<%= todo._id %>/update?_method=PUT">
        <!-- Item input -->
        <div class="form-entry">
            <label for="item">Item:</label>
            <input type="text" id="item" name="item" value="<%= todo.item %>" required>
        </div>
        <!-- Description input -->
        <div class="form-entry">
            <label for="description">Description:</label>
            <textarea type="text" rows="4" id="description" name="description"><%= todo.description %></textarea>
        </div>
        <!-- DueDate input -->
        <div class="form-entry">
            <label for="dueDate">Due Date:</label>
            <input type="text" id="dueDate" name="dueDate" value="<%= todo.formatDate('dueDate') %>">
        </div>
        <!-- Priority input -->
        <div class="form-entry">
            <label for="priority">Priority:</label>
            <select name="priority" id="priority"> 
                <option <%= todo.priority === "High" ? 'selected' : "" %> value="High">High</option> 
                <option <%= todo.priority === "Normal" ? 'selected' : "" %> value="Normal">Normal</option> 
                <option <%= todo.priority === "Low" ? 'selected' : "" %> value="Low">Low</option>
            </select> 
        </div>
        <!-- Status input -->  
        <div class="form-entry">     
            <label for="status">Status:</label>
            <select name="status" id="status"> 
                <option <%= todo.status === "Not Started" ? 'selected' : "" %> value="Not Started">Not Started</option> 
                <option <%= todo.status === "In progress" ? 'selected' : "" %> value="In progress">In progress</option> 
                <option <%= todo.status === "Done" ? 'selected' : "" %> value="Done">Done</option>
            </select> 
        </div>
        <input class="update-button" type="submit" value="Update ToDo"></input>
    </form>

</body>

</html>